@charset "utf-8";

@media(min-width: 1200px) {
    header {
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: auto;
    }
}
@media(min-width: 1000px) {
    header {
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: auto;
    }
}
@media(min-width: 900px) {
    header{
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: auto;
    }
}
@media(min-width: 500px) {
    header {
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: auto;
    }
}
@media(max-width: 400px) {
    c {
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: auto;
    }
    header>img{
        align-items: center;
        display: -ms-flexbox;
        width: 400px;
        flex-direction: column;
        margin: auto;
    }
}